<ion-header>
    <ion-toolbar>
        <ion-title>
            SPILBOX
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <button (click)="actualizar()">actualizar</button>
            <button (click)="eliminarala()">Eliminar Alarma</button>
            <ion-label>
                Medicamentos registrados:
            </ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>
                <a>Medicamento:</a> {{alarma1.medicamento}} <br>
                <a>Hora:</a> {{alarma1.hora}} <br>
                <a>Cada: </a> {{alarma1.intervalo}} <a>Horas</a> <br>
                <a>Para:</a> {{alarma1.descripcion}} <br>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <a>Medicamento:</a> {{alarma2.medicamento}} <br>
                <a>Hora:</a> {{alarma2.hora}} <br>
                <a>Cada: </a> {{alarma2.intervalo}} <a>Horas</a> <br>
                <a>Para:</a> {{alarma2.descripcion}} <br>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <a>Medicamento:</a> {{alarma3.medicamento}} <br>
                <a>Hora:</a> {{alarma3.hora}} <br>
                <a>Cada: </a> {{alarma3.intervalo}} <a>Horas</a> <br>
                <a>Para:</a> {{alarma3.descripcion}} <br>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <a>Medicamento:</a> {{alarma4.medicamento}} <br>
                <a>Hora:</a> {{alarma4.hora}} <br>
                <a>Cada: </a> {{alarma4.intervalo}} <a>Horas</a> <br>
                <a>Para:</a> {{alarma4.descripcion}} <br>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <a>Medicamento:</a> {{alarma5.medicamento}} <br>
                <a>Hora:</a> {{alarma5.hora}} <br>
                <a>Cada: </a> {{alarma5.intervalo}} <a>Horas</a> <br>
                <a>Para:</a> {{alarma5.descripcion}} <br>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <a>Medicamento:</a> {{alarma6.medicamento}} <br>
                <a>Hora:</a> {{alarma6.hora}} <br>
                <a>Cada: </a> {{alarma6.intervalo}} <a>Horas</a> <br>
                <a>Para:</a> {{alarma6.descripcion}} <br>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <a>Medicamento:</a> {{alarma7.medicamento}} <br>
                <a>Hora:</a> {{alarma7.hora}} <br>
                <a>Cada: </a> {{alarma7.intervalo}} <a>Horas</a> <br>
                <a>Para:</a> {{alarma7.descripcion}} <br>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>